body{
    background: radial-gradient(circle,gray, black);
    font-family: sans-serif;
}
form{
    display:block;
    background-color:black;
    width:300px;
    padding:3%;
    margin: 40px auto;
    color:white;
    border-radius: 25px;
    text-align: center;
}
h1{
    text-transform: uppercase;
}
input{
    display: block;
   border-radius: 3cqh;
   background-color: black;
   margin:20px auto;
   text-align: center;
   padding:15px 10px;
   text-size-adjust: 20px;
   border-color: aqua;
   color: white;
   width:200px
}