ul{
    display:block;
    margin: 3;
    list-style-type: none;
}

li{
    padding: 5px;
    color: white;
    width:100px;
    height:20px;
    background: linear-gradient(blue,yellow); 
}

li:hover{
    padding: 5px;
    color:white;
    transition-duration:.1s ;
    width: 100px;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    background: linear-gradient(brown,navy);
}

